<div class="row">
  <div class="col-9" style="background-color: {{ chattingColor }};">
    <div class="messageViewer">
      @for ( chat of this.DbService.chats$ | async; track $index;){
        @if ( chat.userId == this.DbService.user?.id ){
          <app-message [data]="chat" class="right"/>
        } @else {
          <app-message [data]="chat" class="left" />
        }
      }
    </div>
    <app-message-sender [roomId]="this.id()" />
  </div>

  <div class="col-3">
    <app-settings [roomId]="this.id()" (chattingColorOut)="updateChattingColor($event)" />
  </div>
</div>
