<div class="row">
  <div class="col-9">
    <div class="messageViewer">
      @for ( chat of this.DbService.chats$ | async; track chat;){
        @if ( chat.username == this.DbService.user?.username ){
          <app-message [data]="chat" class="right"/>
        } @else {
          <app-message [data]="chat" class="left" />
        }
      }
    </div>
    <app-message-sender [roomId]="this.id()" />
  </div>

  <div class="col-3">
    <app-settings [roomId]="this.id()" (fontSizeOut)="updateFontSize($event)" />
  </div>
</div>
